body {
  font-family: 'Rubik', sans-serif;
}

.menu {
  background-color: rgb(202, 0, 44);
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: white;
  transition: 0.2s;
}

a:visited {
  color: white;
}

li a {
  padding-bottom: 10px;
}

li a:hover {
  color: rgb(255, 187, 0);
  border-bottom: 3px solid rgb(255, 187, 0);
}

.logo {
  width: 180px;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

#contact {
  background-color: rgb(243, 243, 243);
}

.contact__data {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold
}

.contact__data h2 {
  color: rgb(202, 0, 44);
  font-size: 35px;
}

label {
  padding: 10px 0 10px 0;
  color:  rgb(221, 107, 0);
}

input {
  border: 2px solid rgb(202, 0, 44);
  border-radius: 20px;
}

.form__text {
  width: 400px;
  height: 30px;
}

textarea {
  width: 400px;
  height: 130px;
  border: 2px solid rgb(202, 0, 44);
  border-radius: 20px;
}

::placeholder {
  color: rgb(112, 112, 112);
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.btn {
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(202, 0, 44);
  border: 1px solid rgb(255, 145, 0);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(255, 145, 0);
  border: 1px solid rgb(202, 0, 44);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgb(255, 145, 0);
}

.footer__texts {
  text-align: center;
  color: rgb(202, 0, 44);
  font-weight: bold;
  padding: 10px;
  line-height: 30px;
}

.copy {
  background-color: rgb(202, 0, 44);
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

